<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizMania - Start Quiz</title>
    <link rel="stylesheet" href="/styles/start_quiz.css" type="text/css" />
  </head>
  <body>
    <%- include('partials/_header') %>
  <div class="rule-container">
    <div class="nav-margin flex-row rule_info">
    </div>

    <div class="main_container flex-row">
      <div class="rule_container">
        <h1 class="rule_quizname"> <%= title %></h1>
        <p> <%= description %></p>
        <h3 class="rule_title">Quiz Rules!</h3>
        <p>
          <i class="fa-solid fa-square-check"></i>Each multiple choice
          question has only one correct answer.
        </p>
        <p>
          <i class="fa-solid fa-square-check"></i>For each correct answer
          you will be awarded 1 point.
        </p>
        <p>
          <i class="fa-solid fa-square-check"></i>You can not change your
          answer or go back to previous questions.
        </p>
        <p>
          <i class="fa-solid fa-square-check"></i>Once you submit your
          quiz you will be able to see your result.
        </p>
        <p>
          <i class="fa-solid fa-square-check"></i>You can share your
          result with other users by using the link provided at the end.
        </p>
        <p>
          <i class="fa-solid fa-square-check"></i>If you get stuck, call a quiz-mania mentor!
        </p>
          <button class="primary-btn rule_btn" id="startQuiz" data-url="/quiz-attempts/?qid=<%= quizid%>&que=<%= questionid%>">
            Start Quiz
        </button>
      </div>
      <div class="rocket_container" id="rocket">
      <img
      class="rule_title_banner"
      src="https://www.linkpicture.com/q/quiz_main.png"
      alt="rocket_image"/>
      </div>
    </div>
  </div>
    <%- include('partials/_footer') %>
  </body>
</html>
