<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizMania - Start Quiz</title>
    <link rel="stylesheet" href="/styles/start_quiz.css" type="text/css" />
  </head>
  <body>
    <%- include('partials/_header') %>

    <div class="nav-margin flex-row rule_info">
      <img
        class="rule_title_banner"
        src="https://www.linkpicture.com/q/quiz_main.png"
        alt="rocket_image"
      />
      <div>
        <h2 class="rule_quizname">Quiz Name: <%= title %></h2>
        <p>Description: <%= description %></p>
      </div>
    </div>

    <div class="main_container flex-row">
      <div class="rule_container">
        <h1 class="rule_title">Quiz Rules!</h1>
        <p>
          <i class="fa-solid fa-palette rules_icon"></i>Each multiple choice
          question has only one correct answer.
        </p>
        <p>
          <i class="fa-solid fa-palette rules_icon"></i>For each correct answer
          you'll be awarded 1 point.
        </p>
        <p>
          <i class="fa-solid fa-palette rules_icon"></i>You can not change your
          answer or go back to previous questions.
        </p>
        <p>
          <i class="fa-solid fa-palette rules_icon"></i>Once you submit your
          quiz you will be able to see your result.
        </p>
        <p>
          <i class="fa-solid fa-palette rules_icon"></i>You can share your
          result with other users by using the link provided at the end.
        </p>
        <button class="primary-btn rule_btn">
          <a href="/quiztest/<%= id%>"> Start Quiz </a>
        </button>
      </div>
      <img
        class="rule_banner"
        src="https://www.linkpicture.com/q/leaderBoard.png"
        alt="leaderboard_img"
      />
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
