<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizMania - Question</title>
    <link rel="stylesheet" href="/styles/question.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="ques_container flex-column nav-margin">
      <div class="ques_title flex-row">
        <h1 class="ques_number">1.</h1>
        <h2 class="ques"><%= question_desc %></h2>
      </div>
      <div class="ques_options flex-row">
        <div class="options">
          <input type="radio" name="option" value="<%= option_1 %>" />
          <label for="<%= option_1 %>"><%= option_1 %></label>
        </div>
        <div class="options">
          <input type="radio" name="option" value="<%= option_2 %>" />
          <label for="<%= option_2 %>"><%= option_2 %></label>
        </div>
        <div class="options">
          <input type="radio" name="option" value="<%= option_3 %>" />
          <label for="<%= option_3 %>"><%= option_3 %></label>
        </div>
        <div class="options">
          <input type="radio" name="option" value="<%= option_4 %>" />
          <label for="<%= option_4 %>"><%= option_4 %></label>
        </div>
      </div>
      <div class="ques_btn">
        <button id="check" type="submit" class="primary-btn" value="submit">
          Submit
        </button>
        <a id="next" <% if(id < maxId){%>
          href="/quiz-attempts/?qid=<%= quiz_id%>&que=<%= id + 1%>" <% } else{%>
          href="/quiz-attempts/<%= quiz_id%>/result" <% }%> class="primary-btn
          hide" > Next
        </a>
      </div>
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
