<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizMania - Result</title>
    <link rel="stylesheet" href="/styles/result.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>
  <div class="mainQuizResultContainer">
    <div class="result_container flex-column nav-margin">
      <div class="success_msg">🎉 Congratulations! 😇</div>
      <div class="quiz_desc">You have completed the quiz: <%= title%>! </div>

      <dialog>
        <p>Here's Your Link!</p>
          <br>
          <a class="share_url"></a>
          <form method="dialog">
      <div class="popUpButton">
        <button>Close</button>
        <button id="copyLinkButton">Copy Link</button>
      </div>
      </form>
      </dialog>

      <div class="score">Your score: <%= user_score%> / <%= total_score%></div>
      <div class="share_btn">


        <a class="primary-btn share" href="/results/<%=result_url%>"
          >Share your result</a>

        <a class="primary-btn" href="/">Take another quiz</a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/result.js"></script>
</div>
    <%- include('partials/_footer') %>
  </body>
</html>
