<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quiz.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="user_name">Welcome John</div>
    <div class="quiz">
      <Section class="quiz_my_quizzes">
        <p class="quiz_header">My quizzes</p>
        <% for(const quiz of quizzes) { %>
        <div class="quiz_card text-center">
          <h4><%=quiz.description%></h4>
          <a class="primary-btn" href="/quizzes/u/<%=quiz.url%>">Attempt</a>
        </div>
        <% } %>
      </Section>
      <Section class="quiz_featured_quizzes">
        <p class="quiz_header">Featured quizzes</p>
        <% for(const quiz of quizzes) { %>
        <div class="quiz_card text-center">
          <h4><%=quiz.description%></h4>
          <a class="primary-btn" href="/quizzes/u/<%=quiz.url%>">Attempt</a>
        </div>
        <% } %>
      </Section>
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
